table {
    /* width: fit-content; */
    margin: auto;
    border-collapse: collapse;
    border-bottom: .5px solid #ffa500;
}
th,td {
    border: 1px solid #ffa500;
    padding: 2.5px 7px;
}
.formrow {
    display:inline-block;
}
.formrow input {
    width: 10ch;
    margin: 0 .5em;
}
.del_link, .edit_link {
    text-decoration: none;
}
#add,.form, .form button {
    margin: auto;
    display: block;
}
.form {
    width: fit-content;
}
.backBtn, .view_link {
    color: #ffa500;
    text-decoration: none;
}
a {
    color: #ffa500;
}