html,body,div {box-sizing: border-box;}
html,body {
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
body {
    background: orange;
}
.in-text-link {
    color: #005aff;
}
h1 {
    text-align: center;
}
#page {
    background: black;
    width: 70%;
    height: calc(100% - 20px);
    margin: 10px auto;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#current {
    background: orange;
}
#current a {
    color: black;
}
h2 {
    margin-top: 2em;
}
nav a, #page {
    color: orange;
    text-decoration: none;
}
main {
    width: 80%;
    overflow: auto;
    flex: 1;
}
nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
}
nav li {
    box-sizing: border-box;
    border: 1px solid orange;
    height: 1.5em;
    border-radius: 1.5em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding-left: .5em;
    padding-right: .5em;
}
figure {
    width: fit-content;
    float: right;
}
figcaption {
    font-style: italic;
    text-align: center;
}
figure img {
    margin: auto;
    display: block;
    margin-bottom: .25em;
}
footer {
    width: inherit;
}
.flexbreak {
    flex-basis: 100%;
}
fieldset {
    all: unset;
    width: 32%;
    display: block;
}
#submit {
    display: block;
    margin: auto;
}
.formrow {
    display: flex;
    justify-content:space-between;
    align-items: flex-start;
    width: 40%;
}
fieldset,.formrow {
    margin: .5em auto;
}
.imgBtn {
    all: unset;
}
.imgBtn img {
    border-radius: 3px;
}
.course {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin: 4px auto;
}
.course .imgBtn {
    position: relative;
    top: 2px;
}
#addCourse {
    display: block;
    margin: 2px auto;
}