html,body,div {box-sizing: border-box;}
html,body {
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
body {
    background: orange;
}
h1 {
    text-align: center;
}
#page {
    background: black;
    width: 70%;
    height: calc(100% - 20px);
    margin: 10px auto;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#current {
    background: orange;
}
#current a {
    color: black;
}
nav a, #page {
    color: orange;
    text-decoration: none;
}
main {
    width: 80%;
    overflow: auto;
    flex: 1;
}
nav ul:not(#externalLinks) {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
}
nav li {
    box-sizing: border-box;
    border: 1px solid orange;
    height: 1.5em;
    border-radius: 1.5em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding-left: .5em;
    padding-right: .5em;
}
#externalLinks {
    flex-direction: column;
    padding: 0;
    position: absolute;
    /* border: 1px solid #ffa500; */
    transform: translateY(calc(50% + .8em));
    background-color: black;
    max-height: 0;
    overflow: hidden;
    transition: max-height .25s linear;
}
#externalLinks.show {
    max-height: 7.5em;
}
#externalLinks li {
    width: 100%;
    margin: 0;
    border-radius: 0;
}
#externalLinks li:not(:first-child) {
    border-top: .5px solid orange;
}
#externalLinks li:not(:last-child) {
    border-bottom: .5px solid orange;
}
figure {
    width: fit-content;
    float: right;
}

figcaption {
    font-style: italic;
    text-align: center;
}
figure img {
    margin: auto;
    display: block;
    margin-bottom: .25em;
}
footer {
    width: inherit;
}
footer p {
    text-align: center;
}
fieldset {
    all: unset;
    width: 40%;
    display: block;
}
button {
    display: block;
    margin: auto;
}
div.formrow {
    display: flex;
    justify-content:space-between;
    align-items: flex-start;
    width: 40%;
}
fieldset,div.formrow {
    margin: .5em auto;
}
.imgBtn {
    all: unset;
}
.imgBtn img {
    border-radius: 3px;
}
.course {
    font-size: 1.2em;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin: 8px auto;
}
.course input {
    width: 10em;
    height: 1.5em;
}
.course textarea {
    width: 10em;
    height: 3em;
}
.course .imgBtn {
    position: relative;
    top: 2px;
}
#addCourse {
    display: block;
    margin: 2px auto;
}
#fizzbuzz_form .formrow {
    width: fit-content;
}
a {
    color: #ffa500;
}
#fizzbuzz_form .formrow input,
#fizzbuzz_form .formrow label {
    margin: 0 3px;
}